# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# Logs
*.log

# Environment
.env
.env.*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile

# Documentation
README.md
