# Dependencies
node_modules

# Build output
dist

# Git
.git
.gitignore

# Logs
*.log
logs

# Environment
.env
.env.*

# Coverage
coverage

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml

# Documentation
README.md
